.sidebar 
  .sidebar__username
    .sidebar__username--item
      .sidebar__username--item--left masa
      .sidebar__username--item--right 
        = link_to "#", class: "sidebar__btn--editing" do
          = icon('far', 'edit')
        = link_to "#", class: "sidebar__btn--setting" do
          = icon('fas', 'cog')
  .sidebar__grouplist
    .sidebar__grouplist--item
      .sidebar__grouplist--item--groupname techcamp
      .sidebar__grouplist--item--message まだメッセージがありません
    .sidebar__grouplist--item
      .sidebar__grouplist--item--groupname techcamp
      .sidebar__grouplist--item--message まだメッセージがありません
    .sidebar__grouplist--item
      .sidebar__grouplist--item--groupname techcamp
      .sidebar__grouplist--item--message まだメッセージがありません
    .sidebar__grouplist--item
      .sidebar__grouplist--item--groupname techcamp
      .sidebar__grouplist--item--message まだメッセージがありません
    

        
